<style>
	table { border-collapse: collapse;
		width: 100%;
		display: inline-block;
	}
	td, th { border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	button {
		color: white;
	}
</style>

<h1>The activities you can track:</h1>
<table>
	<tr>
		<th> </th>
		<th>Activity</th>
		<th> </th>
	</tr>
  <tr>
		<td>1</td>
		<td>Swimming</td>
		<td>Swimming is an individual or team sport that requires the use of one's arms and legs to move the body through water. The sport takes place in pools or open water. </td>
	</tr>
	<tr>
		<td>2</td>
		<td>Running</td>
		<td>Running is a method of terrestrial locomotion allowing humans and other animals to move rapidly on foot. Running is a type of gait characterized by an aerial phase in which all feet are above the ground.</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Hiking</td>
		<td>Hiking is the preferred term, in Canada and the United States, for a long, vigorous walk, usually on trails, in the countryside, while the word walking is used for shorter, particularly urban walks.</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Walking</td>
		<td>Walking is one of the main gaits of locomotion among legged animals. Walking is typically slower than running and other gaits. Walking is defined by an 'inverted pendulum' gait in which the body vaults over the stiff limb or limbs with each step.</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Skating</td>
		<td>Roller skating is the traveling on surfaces with roller skates. It is a form of recreational activity as well as a sport, and can also be a form of transportation. Skates generally come in three basic varieties: quad roller skates, inline skates or blades and tri-skates, though some have experimented with a single-wheeled "quintessence skate" or other variations on the basic skate design. </td>
	</tr>
	<tr>
		<td>6</td>
		<td>Cycling</td>
		<td>Cycling, also called bicycling or biking, is the use of bicycles for transport, recreation, exercise or sport. People engaged in cycling are referred to as "cyclists", "bikers", or less commonly, as "bicyclists". </td>
	</tr>
	<tr>
		<td>7</td>
		<td>Mountain Biking</td>
		<td>A mountain bike or mountain bicycle is a bicycle designed for off-road cycling. Mountain bikes share similarities with other bicycles, but incorporate features designed to enhance durability and performance in rough terrain. </td>
	</tr>
	<tr>
		<td>8</td>
		<td>Snowboarding</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>9</td>
		<td>Downhill Skiing</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>10</td>
		<td>Eliptical</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>11</td>
		<td>Strength Training</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>12</td>
		<td>Circuit Training</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>13</td>
		<td>Core Strength</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>14</td>
		<td>Arc Trainer</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>15</td>
		<td>Rowing</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>16</td>
		<td>Skating</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>17</td>
		<td>Nordic Walking</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>18</td>
		<td>XC Skiing</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
	<tr>
		<td>19</td>
		<td>Wheelchair</td>
		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.</td>
	</tr>
</table>
<a class="btn btn-primary btn-lg" href="/activities" role="button">Track here your Acitivity</a>
