<style>
	table { border-collapse: collapse;
		width: 100%;
		display: inline-block;
	}
	td, th { border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	button {
		color: white;
	}
</style>

<h1 class="display-3">Move and Groove</h1>
<h3>The Importance Of Physical Fitness</h3>
<p>A person who is fit is capable of living life to its fullest extent. Physical and mental fitness play very important roles in your lives and people who are both, physically and mentally fit are less prone to medical conditions as well.</p>
<h3>What is Fitness?</h3>
<p>Fitness does not only refer to being physically fit, but also refers to a person’s mental state as well. If a person is physically fit, but mentally unwell or troubled, he or she will not be able to function optimally. Mental fitness can only be achieved if your body is functioning well. You can help relax your own mind and eliminate stresses by exercising regularly and eating right.</p>
<h3>Why is it Important to Be Physically Fit?</h3>
<p>People who are physically fit are also healthier, are able to maintain their most optimum weight, and are also not prone to cardiac and other health problems. In order to maintain a relaxed state of mind, a person should be physically active. A person who is fit both physically and mentally is strong enough to face the ups and downs of life, and is not affected by drastic changes if they take place.</p>


<h2>Activities:</h2>
<table>
  <tr>
		<td>1</td>
		<td>Swimming</td>
		<td>Swimming is an individual or team sport that requires the use of one's arms and legs to move the body through water. The sport takes place in pools or open water. </td>
	</tr>
	<tr>
		<td>2</td>
		<td>Running</td>
		<td>Running is a method of terrestrial locomotion allowing humans and other animals to move rapidly on foot. Running is a type of gait characterized by an aerial phase in which all feet are above the ground.</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Hiking</td>
		<td>Hiking is the preferred term, in Canada and the United States, for a long, vigorous walk, usually on trails, in the countryside, while the word walking is used for shorter, particularly urban walks.</td>
	</tr>
	<tr>
		<td>4</td>
		<td>Walking</td>
		<td>Walking is one of the main gaits of locomotion among legged animals. Walking is typically slower than running and other gaits. Walking is defined by an 'inverted pendulum' gait in which the body vaults over the stiff limb or limbs with each step.</td>
	</tr>
	<tr>
		<td>5</td>
		<td>Skating</td>
		<td>Roller skating is the traveling on surfaces with roller skates. It is a form of recreational activity as well as a sport, and can also be a form of transportation. Skates generally come in three basic varieties: quad roller skates, inline skates or blades and tri-skates, though some have experimented with a single-wheeled "quintessence skate" or other variations on the basic skate design. </td>
	</tr>
	<tr>
		<td>6</td>
		<td>Cycling</td>
		<td>Cycling, also called bicycling or biking, is the use of bicycles for transport, recreation, exercise or sport. People engaged in cycling are referred to as "cyclists", "bikers", or less commonly, as "bicyclists". </td>
	</tr>
	<tr>
		<td>7</td>
		<td>Mountain Biking</td>
		<td>A mountain bike or mountain bicycle is a bicycle designed for off-road cycling. Mountain bikes share similarities with other bicycles, but incorporate features designed to enhance durability and performance in rough terrain. </td>
	</tr>
	<tr>
		<td>8</td>
		<td>Snowboarding</td>
		<td>Snowboarding is a recreational activity and Olympic and Paralympic sport that involves descending a snow-covered slope while standing on a snowboard attached to a rider's feet. The development of snowboarding was inspired by skateboarding, sledding, surfing and skiing.</td>
	</tr>
	<tr>
		<td>9</td>
		<td>Downhill Skiing</td>
		<td>Skiing can be a means of transport, a recreational activity or a competitive winter sport in which the participant uses skis to glide on snow. Many types of competitive skiing events are recognized by the International Olympic Committee, and the International Ski Federation.</td>
	</tr>
	<tr>
		<td>10</td>
		<td>Eliptical</td>
		<td>An elliptical trainer or cross-trainer (also called an X-trainer) is a stationary exercise machine used to simulate stair climbing, walking, or running without causing excessive pressure to the joints, hence decreasing the risk of impact injuries. For this reason, people with some injuries can use an elliptical to stay fit, as the low impact affects them little. Elliptical trainers offer a non-impact cardiovascular workout that can vary from light to high intensity based on the speed of the exercise and the resistance preference set by the user.</td>
	</tr>
	<tr>
		<td>11</td>
		<td>Strength Training</td>
		<td>Weight training is a common type of strength training for developing the strength and size of skeletal muscles. It utilizes the force of gravity in the form of weighted bars, dumbbells or weight stacks in order to oppose the force generated by muscle through concentric or eccentric contraction.</td>
	</tr>
	<tr>
		<td>12</td>
			<td>Circuit Training</td>
		<td>Circuit training is a form of body conditioning or endurance training or resistance training using high-intensity. It targets strength building or muscular endurance. An exercise "circuit" is one completion of all prescribed exercises in the program.</td>
	</tr>
	<tr>
		<td>13</td>
		<td>Core Strength</td>
		<td>Core-strength exercises strengthen your core muscles, including your abdominal muscles, back muscles and the muscles around the pelvis. Strong core muscles make it easier to do many physical activities. You can do core-strength exercises on a carpeted floor or mat.</td>
	</tr>
	<tr>
		<td>14</td>
		<td>Arc Trainer</td>
		<td>The Arc Trainer is a stationary, non-impact exercise machine, and is a registered trademark of Cybex International, Inc. The Arc Trainer is manufactured in Owatonna MN.</td>
	</tr>
	<tr>
		<td>15</td>
		<td>Rowing</td>
		<td>Rowing, often referred to as crew in the United States, is a sport whose origins reach back to Ancient Egyptian times. It involves propelling a boat on water using oars. By pushing against the water with an oar, a force is generated to move the boat.</td>
	</tr>
	<tr>
		<td>16</td>
		<td>Nordic Walking</td>
		<td>Nordic walking is a total body version of walking that can be enjoyed both by non-athletes as a health-promoting physical activity, and by athletes as a sport. The activity is performed with specially designed walking poles similar to ski poles.</td>
	</tr>
	<tr>
		<td>17</td>
		<td>XC Skiing</td>
		<td>Cross-country skiing is a form of skiing where skiers rely on their own locomotion to move across snow-covered terrain, rather than using ski lifts or other forms of assistance. Cross-country skiing is widely practiced as a sport and recreational activity; however, some still use it as a means of transportation.</td>
	</tr>
</table>
<hr class="my-4">
<a class="btn btn-primary btn-lg" href="/activities" role="button">Activities</a>
