<h1 align="center">Move and Groove</h1>

<div class="videoWrapper">
<iframe align="center" width="935" height="526" src="https://www.youtube.com/embed/SX7fNNXOOTo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<hr class="my-4">
<p>On this webpage you can see the workout from other people and you can track your workouts.</p>
<p class="lead">
	<a class="btn btn-primary btn-lg" href="/site/about" role="button">Learn more</a>
</p>
