<!DOCTYPE html>
<html lang="en">
<head>
  <title>Move and Groove</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="jumbotron">
  		<h1 class="display-3">Move and Groove</h1>

      <h3>The Importance Of Physical Fitness</h3>
  		<p>A person who is fit is capable of living life to its fullest extent. Physical and mental fitness play very important roles in your lives and people who are both, physically and mentally fit are less prone to medical conditions as well.</p>
      <h3>What is Fitness?</h3>
      <p>Fitness does not only refer to being physically fit, but also refers to a person’s mental state as well. If a person is physically fit, but mentally unwell or troubled, he or she will not be able to function optimally. Mental fitness can only be achieved if your body is functioning well. You can help relax your own mind and eliminate stresses by exercising regularly and eating right.</p>
      <h3>Why is it Important to Be Physically Fit?</h3>
      <p>People who are physically fit are also healthier, are able to maintain their most optimum weight, and are also not prone to cardiac and other health problems. In order to maintain a relaxed state of mind, a person should be physically active. A person who is fit both physically and mentally is strong enough to face the ups and downs of life, and is not affected by drastic changes if they take place.</p>

  		<hr class="my-4">
  		<p>This webpage helps you to track your fitness activities. See which kind of activities you can track.</p>
  		<p class="lead">
    			<a class="btn btn-primary btn-lg" href="/site/about" role="button">Learn more</a>
  		</p>
	</div>

</body>
</html>
